- provide(:title, t(:news).capitalize)
- provide(:normal_view_link, news_path)

%ul{:id => "paragraphs", "data-update-url" => sort_admin_news_index_url}
  - @page.get_paragraphs(:main).order(:position).each do |paragraph|
    - @paragraph = paragraph
    = content_tag_for :li, @paragraph do
      .paragraph_overview
        = link_to(edit_admin_news_path(@paragraph)) do
          = render_partial(:paragraph_overview)
          %br
          = link_to image_tag("trash.png", :width => 40, :class => "trash_image"), @paragraph, :method => :delete
          %br

%br
= link_to("#{t(:paragraph)} #{t(:add)}", new_admin_news_path)