%nav
  = link_to(t(:home), root_path)
  = link_to(t(:admin), admin_path)
  = link_to(t(:translations), translations_path)
  = link_to("Roadmap", development_roadmap_path)
  = link_to("TODO's", development_todo_path)
  = link_to("Done", development_done_path)