= form.fields_for :paragraph_collections, @paragraph_collection do |collection_builder|
  - tag = "add_paragraph[#{@paragraph_collection.id}]"
  = collection_builder.submit t_add(:paragraph), :name => tag, :id => tag

  %ul{:id => "paragraphs", "data-update-url" => admin_home_sort_url}
    = collection_builder.fields_for :paragraphs, @paragraph_collection.paragraphs.order(:position) do |paragraph_builder|
      - @paragraph = paragraph_builder.object
      = content_tag_for :li, @paragraph do
        = check_box_destroy(paragraph_builder)
        = render_partial(:paragraph_form, {:form => paragraph_builder})
