= form_tag(new_paragraph_path) do
  = button_tag("#{t(:paragraph)} #{t(:add)}")

= form_for page, :url => update_path, :html => { :multipart => true } do |f|

  = f.fields_for :paragraphs do |form|
    - paragraph = form.object
    = paragraph_form(paragraph, form)

  = f.submit t(:save)

