- @paragraph.images.build

%table
  = render_partial(:admin_input_title, {:form => form})
  = render_partial(:admin_input_body, {:form => form})
  = render_partial(:admin_input_add_link, {:form => form})
  = render_partial(:admin_input_date, {:form => form})
  = render_partial(:admin_input_pics, {:form => form})