= form_tag(new_paragraph_path) do
  = button_tag(t_add(:paragraph))

= form_for page, :url => update_path, :html => { :multipart => true } do |f|
  = page.paragraphs.to_s

  = f.fields_for :paragraphs do |form|
    - paragraph = form.object
    = check_box_destroy(form)
    = paragraph_form(paragraph, form)

  = f.submit t(:save)

