= button_to("#{t_add(:paragraph)}", :action => :new_paragraph)

= form_for @page, :url => update_path, :html => { :multipart => true } do |page_builder|

  = page_builder.fields_for :paragraphs do |paragraph_builder|
    - @paragraph = paragraph_builder.object
    = check_box_destroy(paragraph_builder)
    = render_partial(:paragraph_form, {:form => paragraph_builder})

  = page_builder.submit t(:save)